.App {
  text-align: center
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html {
  background-color: rgba(255, 243, 182, 0.3)
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgba(247, 169, 59, 0.65);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.travelPicture {
  width: 100%;
  float: left;
  padding-top: 75px;
  padding-left: 75px;
  width:  700px;
  height: 500px;
  object-fit: cover;
}

.travelPicture2 {
  width: 100%;
  float: left;
  padding-top: 75px;
  padding-left: 50px;
  width:  700px;
  height: 500px;
  object-fit: cover;
}

.loginForm {
  padding-top: 150px;
  padding-bottom: 200px;
  text-align: center;
  width: 40%;
  float: right;
}

input[type=text], select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  color: tan;
}

input[type=password], select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: tan;
}

input[type=date], select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: tan;
}

input[type=select], select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: tan;
}

input[type=submit] {
  width: 75%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

label {
  text-align: left;
  display: block;
  flex-direction:column;
}

#formButton {
  width: 75%;
  background-color: rgba(247, 169, 59, 0.65); 
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 22px;  
  border-radius: 3px white;
  margin: 4px 0;
}

#tripCardButton {
  width: 20%;
  background-color: rgba(247, 169, 59, 0.65); 
  border: 2px;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;  
  border-radius: 3px white;
  margin: 4px 0;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10px;
  margin-right: 10px;

}

#tripButton {
  width: 75%;
  height: 45px;
  background-color: rgba(247, 169, 59, 0.65); 
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 22px;  
  border-radius: 3px white;
  margin: 4px 0;
}

.aboutDescription {
  text-align: left;
  padding-top: 100px;
  margin-left: 300px;
  margin-right: 300px;
  font-size: 20px;
  word-spacing: auto;
  text-indent: 40px;
  text-justify: newspaper;
}

.aboutDescription2 {
  text-align: left;
  padding-top: 50px;
  margin-left: 300px;
  margin-right: 300px;
  font-size: 20px;
  word-spacing: auto;
  text-justify: newspaper;
}

.tripForm {
  padding-top: 50px;
  text-align: left;
  width: 90%;
  padding-left: 125px;
  float: center
}

.destinationCard {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-right: 6px;
  margin-left: 6px;
  padding: 40px;
  margin-top: 6px;
  margin-bottom: 6px;
  background: rgba(252, 149, 124, 0.3);
}

.listOfTrips {
  padding-top: 25px;
  padding-left: 125px;
}

.tripCard {
  width: 70%;
  display: flex;
  flex-direction: column;
  border: 5px white solid;
  padding-bottom: 30px;
  padding-top: 30px
}

.cardHeader {
  height: 30%;
  background: rgba(252, 149, 124, 0.5);
  color: white;
  text-align: center;
}

.cardContainer {
  padding: 2px 16px;
  padding-bottom: 5px;
  padding-top: 5px
}


.userWrapper {
  max-width: 700px;
  margin: 50px auto;
}

.list {
  background: rgba(252, 149, 124, 0.3);
  border-radius: 2px;
  list-style: none;
  padding: 10px 20px;
  width: 600px;
}

.listItem {
  display: flex;
  margin: 10px;
  width: 600px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cardButtons {
  float: right
}

#editBtn {
  height: 30px;
  width: 50px;
  padding-left: 25px;
  padding-right: 25px;
}

#deleteBtn {
  height: 30px;
  width: 50px;
  padding-left: 25px;
  padding-right: 25px;
}

.destinationList {
  float: right;
}